@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,html{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #0C0C0C;
  /* background-color: #0d1117; */
  color: #e6edf3;
}
@layer components {
  .container {
    margin: 0 auto;
  }
}
@layer utilities {
/** add utilities here */
}

